

    html, body {
      margin: 0;
      padding: 0;
      width: 240px;
      height: 320px;
      background: black;
      color: white;
      font-family: sans-serif;
      overflow: hidden;
    }
    #app {
      width: 240px;
      height: 320px;
      box-sizing: border-box;
      padding: 12px;
    }
    p {
      font-size: 14px;
      margin: 6px 0;
    }
    a {
      color: #4caf50;
      text-decoration: none;
      font-size: 14px;
    }
body { 
    font-family: Helvetica; 
    font-weight:600;
    text-align: center; 
    width:240px;
    height:320px;
}
    


p { 
    font-size: 24px; 
    
}

#mode{
    font-size: 40px;
}